@charset "utf-8";
/* CSS Document */


.contador {text-align:center}

.contador .label {font-size: 14px; font-weight:60; letter-spacing:1px; text-transform:uppercase; position:relative;}

.contador .block {display: inline-block; height: 10px; width: 40px; font-size: 30px; font-weight:bold; }

.contador .conta {padding: 0 0 20px;}

